<!DOCTYPE html>
<html lang="en-CA">
  <head>
    {% load compress %}
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- <link rel="shortcut icon" href="{% static '/ico/favicon.ico' %}"> -->
    <!-- <link rel="icon" type="image/ico" href="/static/images/favicon.ico"> -->

    <title>{% block page_title %}Webdnd{% endblock page_title %}</title>



    <link rel="stylesheet" href="{% static 'shared/css/bootstrap.css' %}" type="text/css" charset="utf-8">
    {% compress css %}
      <link rel="stylesheet" href="{% static 'shared/css/bootstrap.extra.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'shared/css/base.css' %}" type="text/css" charset="utf-8">
    {% endcompress %}
    {% compress css %}
      {% block compress_css %}{% endblock compress_css %}
    {% endcompress %}
    {% block dynamic_css %}{% endblock dynamic_css %}



  </head>
  <body>



    <!-- HEADER Nav-Bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/account">Web D&amp;D</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="nav_home"><a href="/account/home">Home</a></li>
              {% if user.is_active %}
                <li id="nav_settings"><a href="/account/settings">Settings</a></li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if user.is_active %}
                <li id="nav_logout" class="pull-right"><a href="/account/logout">Logout</a></li>
              {% else %}
                <li id="nav_login" class="pull-right"><a href="/account/login">Login</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <!-- Main Body -->
    <div class="container centered">

        <!-- Alerts -->
        <div id="page_alerts">
          {% include 'alerts.html' %}
        </div>

        {% block content %}
        {% endblock content %}
    </div>



    <!-- Footer -->
    <div class="footer">
    </div>



    <!-- Javascript at the bottom for faster page loading -->
    {% compress js %}
      <script type="text/javascript" src="{% static 'shared/js/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/bootstrap.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/bootstrap-plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'alerts/highlighter.js' %}"></script>
    {% endcompress %}
    {% compress js %}
      {% block compress_js %}{% endblock compress_js %}
    {% endcompress %}
    <script type="text/javascript">
        $(function() {
            $('#nav_{% block tab_name %}{% endblock %}').addClass('active');
        });
    </script>
    {% block dynamic_js %}{% endblock dynamic_js %}
    {% include 'highlighter.html' %}

  </body>
</html>




