<!DOCTYPE html>
<html lang="en-CA">
  <head>
    {% load compress %}
    {% load staticfiles %}
    {% load helpers %}

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

    <title>{% block page_title %}Webdnd{% endblock page_title %}</title>


    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'shared/css/bootstrap.css' %}" type="text/css" charset="utf-8">
    {% compress css %}
      <link rel="stylesheet" href="{% static 'shared/css/bootstrap.extra.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'shared/css/base.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/base.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/user.css' %}" type="text/css" charset="utf-8">
    {% endcompress %}

    <!-- Dynamic Styles -->
    {% compress css %}
      {% block compress_css %}{% endblock compress_css %}
    {% endcompress %}
    {% block dynamic_css %}{% endblock dynamic_css %}



  </head>
  <body>



    <!-- HEADER Nav-Bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url main_about %}">Web D&amp;D</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if user.is_active %}
                <li id="nav_home"><a href="{% url account_home %}">
                  <i class="icon-home"></i> Home
                </a></li>
                <li id="nav_campaigns"><a href="{% url game_campaign_list %}">
                  <i class="icon-globe"></i> Campaigns
                </a></li>
                <li id="nav_chars"><a href="{% url game_character_list %}">
                  <i class="icon-certificate"></i> Characters
                </a></li>
              {% else %}
                <li id="nav_home"><a href="{% url main_home %}">
                  <i class="icon-home"></i> Home
                </a></li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if user.is_active %}
                <li id="nav_friends"><a href="{% url account_friends %}">
                    <i class="icon-user"></i> Friends
                </a></li>
                <li id="nav_settings"><a href="{% url account_settings %}">
                    <i class="icon-wrench"></i> Settings
                </a></li>
                <li id="nav_logout" class="pull-right"><a href="{% url account_logout %}">
                  <i class="icon-off"></i> Logout
                </a></li>
              {% else %}
                <li id="nav_login" class="pull-right"><a href="{% url account_login %}">
                  <i class="icon-user"></i> Login
                </a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!-- Main Body -->
    <div class="container centered">

        <!-- Alerts -->
        <div id="page_alerts">
          {% include 'alerts.html' %}
        </div>

        {% block content %}
        {% endblock content %}
    </div>



    <!-- Footer -->
    <div class="footer">
    </div>



    <!-- Javascript at the bottom for faster page loading -->
    <script type="text/javascript" src="{% static 'shared/js/platform.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared/js/bootstrap.js' %}"></script>
    {% compress js %}
      <script type="text/javascript" src="{% static 'shared/js/handlebars.js' %}"></script>
      {% compile_templates 6 %}
      <script type="text/javascript" src="{% static 'shared/js/bootstrap-plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'alerts/alert.js' %}"></script>
      <script type="text/javascript" src="{% static 'alerts/highlighter.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/formatting.js' %}"></script>
    {% endcompress %}
    {% compress js %}
      {% block compress_js %}{% endblock compress_js %}
    {% endcompress %}

    <!-- Dynamic Javascript -->
    <script type="text/javascript">
        $(function() {
            $('#nav_{% block tab_name %}{% endblock %}').addClass('active');
            format($('body'));
        });
    </script>
    {% block dynamic_js %}{% endblock dynamic_js %}
    {% include 'highlighter.html' %}

  </body>
</html>




