{% extends "account/base.html" %}
{% load staticfiles %}
{% load helpers %}


{% block page_title %}
    {{ block.super }} ~ Friends
{% endblock %}
{% block tab_name %}friends{% endblock %}

{% block content %}
<form class="form-vertical form-search" id="friends" method="POST">
    {% csrf_token %}

    <legend>
        Your Friends
        <div class="control-group pull-right">
            <div class='controls'>
                <button type="submit" class="btn btn-info" name="save-changes">
                    Save Changes
                </button>
            </div>
        </div>
    </legend>

    <div class="control-group">
        <div class="controls" id="input-friends">
            <blockquote class="empty span9 muted">Your friends list is empty.</blockquote>
        </div>
    </div>


    <legend>Find A User</legend>

    <div class="control-group" id="group-search">
        <div class="controls">
            <div class="input-append">
                <input type="text" id="user-search" class="span2 search-query" placeholder="Username / Name">
                <button class="btn btn-small btn-search"><i class="icon-search"></i> Search</button>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls offset2" id="user-search-results">
        </div>
    </div>


    {% template 'users' %}
        <@#players@>
        <blockquote class="user span2 <@ type @>" data-type="<@ type @>" data-id="<@ id @>">
            <span class="username">
                <i class="icon-heart user-icon friend-icon"></i>
                <i class="icon-heart-empty user-icon unfriend-icon" style="pading-right: 5px;"></i>
                <i class="icon-link user-icon newfriend-icon" style="pading-right: 5px;"></i>
                <i class="icon-share-alt user-icon search-user-icon" style="pading-right: 5px;"></i>
                <@ name @>
            <span>
            <input class="hide" name="<@ type @>s[]" value="<@ id @>"></input>
            <span class="pull-right action text-success add">✔</span>
            <span class="pull-right action text-error remove">✘</span>
        </blockquote>
        <@/players@>
    {% endtemplate %}

    {% template 'search-user-empty' %}
        <blockquote class="empty span9 text-warning">No users found.</blockquote>
    {% endtemplate %}

    {% template 'users-empty' %}
    {% endtemplate %}

</form>

{% endblock content %}


{% block compress_js %}
<script type="text/javascript" src="{% static 'player/js/user_search.js' %}"></script>
{% endblock %}


{% block dynamic_js %}
<script type="text/javascript">
$(function() {
    // Adds the starting friends
    var data = {'players': [{% for friend in friends %}
        {'id': {{ friend.id }}, 'name': '{{ friend.name }}', 'type': 'friend'},
    {% endfor %} ]};

    friends.unique({{ user.id }}, true);

    var tmpl;
    if (data.players.length !== 0) {
        $('#input-friends .empty').hide();

        $('#input-friends').append(Templates['users'](data));
        $('#input-friends .user').each(function() {
            var elem = $(this);
            if (friends.unique(elem, true)) {
                friends.user(elem);
            }
        })
    }

    // Creates the search listener
    var search = friends.search($('#user-search'), $('#user-search-results'));
    $('.btn-search').on('click', function(e) {
        search.refresh();
        e.preventDefault();
    });
});
</script>
{% endblock %}



{% block compress_css %}
<style>
    #group-search .search-query {
        height: 16px;
    }
    .unfriend .action.remove,
    .search-user .action.remove,
    .friend .action.add,
    .new-friend .action.add {
        display: none;
    }
    .unfriend {
        text-decoration: line-through;
        background-color: #FDD;
    }
    .new-friend {
        background-color: #DFD;
    }

    .user-icon {
        display: none;
    }

    .friend-icon {
        color: #F99;
    }

    .unfriend .unfriend-icon,
    .search-user .search-user-icon,
    .friend .friend-icon,
    .new-friend .newfriend-icon {
        padding-right: 5px;
        display: inline;
    }

</style>
{% endblock compress_css %}
