{% extends "account/base.html" %}


{% block page_title %}Webdnd ~ {{ user.username }}{% endblock %}
{% block tab_name %}home{% endblock %}


{% block content %}
<legend>Coming Up</legend>

{% if campaigns %}
    <legend>Campaigns</legend>

    <div class="campaigns">
        {% for campaign in campaigns %}
            <div class="campaign user"><a href="{% url game_campaign_edit cid=campaign.id %}">
                <blockquote>
                    <span class="capitalize">{{ campaign.name }}</span>
                    <small class="username">{{ campaign.owner.name }}</small>
                </blockquote>
            </a></div>
        {% endfor %}
    </div>
{% endif %}

<legend>Characters</legend>

{% endblock content %}

