/* Campaign Overview lists */

/* Provides space for the nav-bar */
body {
    padding-top: 60px;
}
.footer {
    padding-top: 100px;
}

.user:hover,
.campaign:hover {
    background-color: #EEF;
}

.no-underline:hover {
    text-decoration: none;
}

.char-status.main {
    /*color: #5BB75B;*/
    font-weight: bolder;
}

