/* Overall Styling */
.messages {
    height: 85%;
    overflow: scroll;
}

.msg-input {
    height: 12px;
    font-size: 12px;
}

/* Message Rows */
.msg-row:hover:not(.msg-form) {
    background-color: #445;
}

/* Message Row Names */
.msg-row .name {
    color: #999;
}

.char-name:before {
    content: "(";
}
.char-name:after {
    content: ")";
}

/* Actual message text */
.msg {
    color: #EEE;
    font-size: 12px;
}
.msg-form .msg {
    color: #666;
    font-weight: normal;
}

/* System messages */
.msg-row.system .prefix {
    display: none;
}
.msg-row.system .msg {
    color: lightblue;
    font-weight: normal;
}




