@import "shared/static/css/colors.less";

.chat {
    display: none;
    height: 95%;
    &.active {
        display: block;
    }
}

/* Overall Styling */
.messages {
    height: 85%;
    overflow: auto;
}

.msg-form {
    .msg-input {
        height: 12px;
        width: 95%;
        font-size: 12px;
    }
}

/* Message Rows */
.msg-row:hover:not(.msg-form) {
    background-color: #445;
}

/* Message Row Names */
.msg-row .name {
    color: #999;
    text-align: right;
}

.char-name {
    &:before {
        content: "(";
    }
    &:after {
        content: ")";
    }
}

/* Actual message text */
.msg {
    color: #EEE;
    font-size: 12px;
}
.msg-form .msg {
    color: #666;
    font-weight: normal;
}

/* System messages */
.msg-row.system {
    & .prefix {
        display: none;
    }
    & .msg {
        color: lightblue;
        font-weight: normal;
    }
}




