@import "shared/static/css/colors.less";
@import "shared/static/css/helpers.less";


.chat {
    display: none;
    height: 95%;
    &.active {
        display: block;
    }
}

@act-ind-size: 5px;
.chat-sidebar {
    padding-bottom: 2 * @act-ind-size;
}

.chat-btn {
    position: relative;

    // Showing Active Chat
    & .active-indicate {
        height: 0;
        width: 0;
        position: absolute;
        bottom: -1 - (2 * @act-ind-size);

        border: solid transparent;
        .border-radius(@act-ind-size);
    }

    &.active .active-indicate {
        border-width: @act-ind-size - 1;

        left: 8px;
        border-color: #20C2A2;
    }
}


// Showing new-msg notifications
.has-msgs {
    color: transparent;
    font-size: larger;
}
.new-msgs .has-msgs {
    color: white;
    text-shadow: black 1px 1px 1px;
    display: inline-block;
}

/* Overall Styling */
.messages {
    height: 85%;
    overflow: auto;
}

.msg-form {
    .msg-input {
        height: 12px;
        width: 95%;
        font-size: 12px;
    }
}

/* Message Rows */
.msg-row:hover:not(.msg-form) {
    background-color: #445;
}

/* Message Row Names */
.msg-row .name {
    color: #999;
}

.char-name {
    &:before {
        content: "(";
    }
    &:after {
        content: ")";
    }
}

/* Actual message text */
.msg {
    color: #EEE;
    font-size: 12px;
}
.msg-form .msg {
    color: #666;
    font-weight: normal;
}

/* System messages */
.msg-row.system {
    & .prefix {
        display: none;
    }
    & .msg {
        color: lightblue;
        font-weight: normal;
    }
}



