html, body {
    height: 100%;
    background: #333;
}



/* Horiontal split */
.hsplit,
.hsplit .hsplit-left,
.hsplit-right {
    height: 100%;
}

.hsplit .hsplit-left {
    width: 30%;
}
.hsplit .hsplit-right {
    width: 70%;
}





