html, body {
    height: 100%;
    background: #333;
}


#chat {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 200px;

    border: 1px solid #888;
}
#messages {
    height: 300px;
    overflow-y: scroll;
}

.message {
    color: #eee;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}
.message:hover:not(.type) {
    background-color: #445;
}
.message.type {
    margin-top: 0px;
}
#msg-input {
    height: 12px;
    font-size: 12px;
}
.message.type .body {
    color: #666;
    font-weight: normal;
}
.message.notification .body {
    color: lightblue;
    font-weight: normal;
}
.message .name {
    color: #999;
    text-align: right;
}


/* Connection Pill */
.connection {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    color: white;
    font-size: smaller;
    text-align: center;
    width: 20px;
    /*cursor: pointer;*/

    position: fixed;
    top: 10px;
    left: 10px;
}
.connection.status-on {
    background-color: #596;
}
.connection.status-off {
    background-color: #956;
}



/* Character Sheer */
.char-name:before {
    content: "(";
}
.char-name:after {
    content: ")";
}






