/* User styles */
.user .username {
    font-weight: bolder;
}
.user:hover .username {
    color: #66F;
}


/* Campaign Overview lists */
.user:hover,
.campaign:hover {
    background-color: #EEF;
}
.campaign:hover a {
    text-decoration: none;
}


