
<div class="campaigns">
    {% for campaign in campaigns %}
        <div class="campaign user"><a class="no-underline" href="{% if campaign.owner == user %}{% url game_campaign_edit cid=campaign.id %}{% else %}{% url game_campaign_view cid=campaign.id %}{% endif %}">
            <blockquote>
                <i class="icon-globe"></i>
                <span class="capitalize">{{ campaign.name }}</span>
                <small class="username">{{ campaign.owner.name }}</small>
            </blockquote>
        </a></div>
    {% empty %}
        <blockquote class="empty span9 muted">
            You have no campaigns right now.
        </blockquote>
    {% endfor %}
</div>

