{% extends "account/base.html" %}


{% block page_title %}Webdnd ~ Campaigns{% endblock %}
{% block tab_name %}campaigns{% endblock %}


{% block content %}
    <legend>
        Campaigns
        <div class="control-group pull-right">
            <div class='controls'>
                <a class="btn btn-success" href="{% url game_campaign_create %}">
                    <i class="icon-plus icon-white"></i>
                    <b>New Campaign</b>
                </a>
            </div>
        </div>
    </legend>

    {% include '_campaign_list.html' %}

{% endblock content %}


