{% extends "account/base.html" %}


{% block page_title %}
    {{ block.super}} ~ {% if create %}New{% else %}Edit{% endif %} Campaign
{% endblock %}
{% block tab_name %}campaigns{% endblock %}


{% block content %}
<form class="form-horizontal" id="campaign" method="POST">
    {% csrf_token %}
    <legend>
        {% if create %}New{% else %}Edit{% endif %} Campaign
        <div class="control-group pull-right">
            <div class="controls">
                <button type="submit" class="btn btn-success" name="campaign_create">
                    {% if create %}Create{% else %}Save{% endif %} Campaign
                </button>
                {% if not create %}
                    <button type="button" class="btn btn-info" name="campaign_play">
                        Play
                    </button>
                {% endif %}
            </div>
        </div>
    </legend>

    <div class="control-group" id="group-name">
        <label class="control-label" for="input-name">Name</label>
        <div class="controls">
            <input type="text" id="input-name" name="name" placeholder="Campaign Name" value="{{ campaign.name }}">
        </div>
    </div>
    <div class="control-group" id="group-system">
        <label class="control-label" for="input-system">Roleplaying System</label>
        <div class="controls">
            <select id="input-system" name="system">
                {% for sys in systems %}
                    <option value="{{ sys }}" {% if sys == campaign.rp_system %}selected{% endif %}>
                        {{ sys }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <legend>Players</legend>

    <div class="control-group" id="group-players">
        <label class="control-label" for="input-players">Players: </label>
        <div class="controls" id="input-players" data-name="players[]">
            {% for player in friends %}
                <blockquote class="user span2">
                    <span class="pull-right action text-error add">✘</span>
                    <span class="pull-right action text-success remove hide">✔</span>
                    <span class="username">{{ player.name }}</span>
                    <input class="hide" name="" value="{{ player.id }}"></input>
                </blockquote>
            {% empty %}
                <blockquote class="empty span9 muted">Your friends list is empty.</blockquote>
            {% endfor %}
        </div>
    </div>

</form>
{% endblock content %}


{% block compress_js %}
<script type="text/javascript">
$(function() {
    var player_input_name = $('#input-players').data('name');

    $('.user .action.add').on('click', function() {
        $(this).hide();
        var elem = $(this).parents('.user');
        elem.find('.action.remove').show();

        elem.find('input').attr('name', player_input_name);
    });

    $('.user .action.remove').on('click', function() {
        $(this).hide();
        var elem = $(this).parents('.user');
        elem.find('.action.add').show();

        elem.find('input').attr('name', '');
    });

    {% for player in players %}
    $('input[value={{ player.account.id }}]').parents('.user').find('.add').trigger('click')
    {% endfor %}
});
</script>
{% endblock %}


