{% extends "account/base.html" %}


{% block page_title %}
    {{ block.super}} ~ {% if create %}New{% else %}Edit{% endif %} Campaign
{% endblock %}
{% block tab_name %}campaigns{% endblock %}


{% block content %}
<form class="form-horizontal" id="campaign" method="POST">
    {% csrf_token %}
    <legend>
        {% if create %}New{% else %}Edit{% endif %} Campaign
        <div class="control-group pull-right">
            <div class="controls">
                <button type="submit" class="btn btn-success" name="campaign_create">
                    {% if create %}Create{% else %}Save{% endif %} Campaign
                </button>
                {% if not create %}
                    <button type="button" class="btn btn-info" name="campaign_play">
                        Play
                    </button>
                {% endif %}
            </div>
        </div>
    </legend>

    <div class="control-group" id="group-name">
        <label class="control-label" for="input-name">Name</label>
        <div class="controls">
            <input type="text" id="input-name" name="name" placeholder="Campaign Name" value="{{ campaign.name }}">
        </div>
    </div>
    <div class="control-group" id="group-system">
        <label class="control-label" for="input-system">Roleplaying System</label>
        <div class="controls">
            <select id="input-system" name="system">
                {% for sys in systems %}
                    <option value="{{ sys }}" {% if sys == campaign.rp_system %}selected{% endif %}>
                        {{ sys }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <legend>Players</legend>

    <div class="control-group" id="group-players">
        <label class="control-label" for="input-players">Players: </label>
        <div class="controls" id="input-players">
            {% for friend in friends %}
                <blockquote class="user span2 {% if friend.id in players %}player{% else %}non-player{% endif %}">
                    <span class="pull-right action text-error add">✘</span>
                    <span class="pull-right action text-success remove">✔</span>
                    <span class="username">{{ friend.name }}</span>
                    <input class="hide" name="{% if friend.id in players %}players[]{% endif %}" value="{{ friend.id }}"></input>
                </blockquote>
            {% empty %}
                <blockquote class="empty span9 muted">Your friends list is empty.</blockquote>
            {% endfor %}
        </div>
    </div>

</form>
{% endblock content %}



{% block compress_css %}
<style>
    .player .action.add,
    .non-player .action.remove {
        display: none;
    }
    .unplayer {
        text-decoration: line-through;
        background-color: #FDD;
    }
    .new-player {
        background-color: #DFD;
    }
</style>
{% endblock compress_css %}



{% block compress_js %}
<script type="text/javascript">
$(function() {
    var player_input_name = $('#input-players').data('name');

    $('.user .action.add').on('click', function() {
        var elem = $(this).parents('.user');

        elem.find('input').attr('name', 'players[]');

        if (elem.hasClass('unplayer')) {
            elem.removeClass('unplayer');
        } else if (elem.hasClass('non-player')) {
            elem.addClass('new-player');
        }
        elem.removeClass('non-player').addClass('player');
    });

    $('.user .action.remove').on('click', function() {
        var elem = $(this).parents('.user');

        elem.find('input').attr('name', '');

        if (elem.hasClass('new-player')) {
            elem.removeClass('new-player');
        } else if (elem.hasClass('player')) {
            elem.addClass('unplayer');
        }
        elem.removeClass('player').addClass('non-player');
    });
});
</script>
{% endblock %}




