{% load helpers %}

{% template 'chat' %}
<div class="chat <@ active @> <@#if uid @>player-<@ uid @><@/if@>" id="chat-<@ chatid @>" data-chatid="<@ chatid @>">
    <div class="messages">

    </div>

    <div class="msg-row msg-form">
        <div class="name">
            <span class="user-name">
                {{ user.name }}
            </span>
            <span class="char-name">
                {% if is_dm %}
                    DM
                {% elif char %}
                    {{ char.name }}
                {% else %}
                    <small>No Char</small>
                {% endif %}
            </span>
        </div>
        <input data-id="<@ chatid @>" class="msg-input" type="text" name="msg" placeholder="Say..." autocomplete="off">
    </div>
</div>
{% endtemplate %}

{% template 'chat-btn' %}
    <button class="<@#if uid @>player-<@ uid @> player-btn<@/if@> chat-btn btn btn-mini <@ classes @>" data-chatid="<@ chatid @>">
        <div class="active-indicate"></div>
        <i class="icon-comments-alt has-msgs"></i>
    </button>
{% endtemplate %}

{% json '{"chatid": "campaign", "classes": "active btn-info", "name": "Campaign", "active": "active"}' as context %}


<div class="chat-group">
    <div class="chat-sidebar chat-btns">
        {% render_template 'chat-btn' context %}
    </div>
    {% render_template 'chat' context %}
</div>


{% template 'message' %}
    <div class="row-fluid msg-row <@ type @> <@#if uid @>player-<@ uid @><@/if@>">
        <span class="prefix">
            <span class="name player-color"><@ name @></span>:
        </span>
        <span class="msg player-color"><@ msg @><br/></span>
    </div>
{% endtemplate %}




