{% load helpers %}
<div id="chat">
    <div id="messages">

    </div>

    <div class="row-fluid message type">
        <div class="span12 name">
            <span class="user-name">
                {{ user.name }}
            </span>
            <span class="char-name">
                {% if is_dm %}
                    DM
                {% elif char %}
                    {{ char.name }}
                {% endif %}
            </span>
        </div>
        <div class="span12 body">
            <form class="form-inline" id="msg-form">
                <input class="span12" type="text" name="msg" placeholder="Say..." id="msg-input">
            </form>
        </div>
    </div>
</div>


{% mustache 'message' %}
    <div class="row-fluid message <% type %>" data-id="<% id %>">
        <span class="name"><% name %></span>:
        <span class="msg"><% msg %></span>
    </div>
{% endmustache %}
