{% load helpers %}

{% template 'chat' %}
<div class="chat <% active %>" id="chat-<% chatid %>" data-id="<% chatid %>">
    <div class="messages">

    </div>

    <div class="msg-row msg-form">
        <div class="name">
            <span class="user-name">
                {{ user.name }}
            </span>
            <span class="char-name">
                {% if is_dm %}
                    DM
                {% elif char %}
                    {{ char.name }}
                {% endif %}
            </span>
        </div>
        <input data-id="<% chatid %>" class="msg-input" type="text" name="msg" placeholder="Say..." autocomplete="off">
    </div>
</div>
{% endtemplate %}

{% template 'chat-btn' %}
    <button class="chat-btn btn btn-mini <% classes %>" data-id="<% chatid %>">
        <% name %>
    </button>
{% endtemplate %}



<div class="chat-group">
    <div class="chat-sidebar chat-btns">
        {% render_template 'chat-btn' '{"chatid": "campaign", "classes": "active btn-info", "name": "Campaign"}' %}
    </div>
    {% render_template 'chat' '{"chatid": "campaign", "active": "active"}' %}
</div>



{% template 'message' %}
    <div class="row-fluid msg-row <% type %>" data-id="<% id %>">
        <span class="prefix">
            <span class="name"><% name %></span>:
        </span>
        <span class="msg"><% msg %><br/></span>
    </div>
{% endtemplate %}




