{% load helpers %}

{% template 'chat' %}
<div class="chat <% active %> <%#if uid %>player-<% uid %><%/if%>" id="chat-<% chatid %>" data-chatid="<% chatid %>">
    <div class="messages">

    </div>

    <div class="msg-row msg-form">
        <div class="name">
            <span class="user-name">
                {{ user.name }}
            </span>
            <span class="char-name">
                {% if is_dm %}
                    DM
                {% elif char %}
                    {{ char.name }}
                {% endif %}
            </span>
        </div>
        <input data-id="<% chatid %>" class="msg-input" type="text" name="msg" placeholder="Say..." autocomplete="off">
    </div>
</div>
{% endtemplate %}

{% template 'chat-btn' %}
    <button class="<%#if uid %>player-<% uid %> player-btn<%/if%> chat-btn btn btn-mini <% classes %>" data-chatid="<% chatid %>">
        <div class="active-indicate"></div>
        <i class="icon-comments-alt no-msgs"></i>
        <i class="icon-comments-alt has-msgs"></i>
    </button>
{% endtemplate %}

{% json '{"chatid": "campaign", "classes": "active btn-info", "name": "Campaign", "active": "active"}' as context %}


<div class="chat-group">
    <div class="chat-sidebar chat-btns">
        {% render_template 'chat-btn' context %}
    </div>
    {% render_template 'chat' context %}
</div>

<!-- Player Color Customizations, div is here to wrap them up -->
<div id="player-colors">
    {% template 'player_colors' %}
    <style id="player-<% uid %>-colors">
        .player-<% uid %>.player-color,
        .player-<% uid %> .player-color {
            color: #<% color %>;
        }
        .player-<% uid %>.player-bg,
        .player-<% uid %> .player-bg {
            background-color: #<% color %>;
        }
        .player-<% uid %>.player-bg-grad,
        .player-<% uid %> .player-bg-grad {
            background-image: -webkit-linear-gradient(top, #<% color %>, #<% color %>);
        }

        .player-<% uid %>.player-btn,
        .player-<% uid %> .player-btn {
            background-color: #<% color %>;
            background-image: -webkit-linear-gradient(top, #<% color %>, #<% color %>);
        }
        .player-<% uid %>.player-btn:hover,
        .player-<% uid %> .player-btn:hover {
            background-color: #<% color_alt %>;
            background-image: -webkit-linear-gradient(top, #<% color_alt %>, #<% color_alt %>);
        }
    </style>
    {% endtemplate %}
    {% template 'player_colors_2' %}
    <style id="player-<% uid %>-colors" type="text/less">
        .player-<% uid %> {
            @color: #<% color %>;

            &.player-color,
            & .player-color {
                color: @color;
            }
            &.player-bg,
            & .player-bg {
                background-color: @color;
            }
            &.player-bg-grad,
            & .player-bg-grad {
                background-image: -webkit-linear-gradient(top, @color, @color + 10);
            }

            &.player-btn,
            & .player-btn {
                .player-bg-grad;
                .player-bg;
            }
            &.player-btn:hover,
            & .player-btn:hover {
                background-color: @color;
                background-image: -webkit-linear-gradient(top, @color, @color + 10);
            }
        }
    </style>
    {% endtemplate %}
</div>
<!-- End Player Colors -->



{% template 'message' %}
    <div class="row-fluid msg-row <% type %> <%#if uid %>player-<% uid %><%/if%>">
        <span class="prefix">
            <span class="name player-color"><% name %></span>:
        </span>
        <span class="msg player-color"><% msg %><br/></span>
    </div>
{% endtemplate %}




