<!DOCTYPE html>
<html lang="en-CA">
  <head>
    {% load compress %}
    {% load staticfiles %}
    {% load helpers %}

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

    <title>{{ campaign.name }}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'shared/css/bootstrap.css' %}" type="text/css" charset="utf-8">
    {% compress css %}
      <link rel="stylesheet" href="{% static 'shared/css/bootstrap.extra.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'shared/css/base.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/play.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/chat.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/terminal.css' %}" type="text/css" charset="utf-8">
    {% endcompress %}

    <!-- Dynamic Styles -->

    <!-- End Styles -->

  </head>
  <body>


    <!-- Main Body -->
    <div class="hsplit">

        <div class="hsplit-left">
            <!-- Messenger -->
            <div class="chat-border">
                {% include 'messenger.html' %}
            </div>
            <!-- End Messenger -->
        </div>

        <div class="hsplit-right">
            <!-- Character Sheet -->
            <div class="char-sheet-border">
                <!-- Char Sheet include goes here -->
            </div>
            <!-- End Sheet -->
        </div>

        <!-- Terminal -->
        {% include 'terminal.html' %}
        <!-- End Terminal -->

    </div>
    <!-- End Main Body -->


    <!-- Scripts -->
    <!-- Javascript at the bottom for faster page loading -->
    <script type="text/javascript" src="{% static 'shared/js/platform.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared/js/bootstrap.js' %}"></script>
    {% compress js %}
      <script type="text/javascript" src="{% static 'shared/js/mustache.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/mustache-plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/bootstrap-plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/formatting.js' %}"></script>
      <script type="text/javascript">
          // Needed to connect using syncrae.js
          var HOST = window.location.hostname + ':{% setting 'SYNCRAE_PORT' %}';
      </script>
      <script type="text/javascript" src="{% static 'syncrae/js/syncrae.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/listener.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/terminal.js' %}"></script>
    {% endcompress %}

    <!-- Dynamic Javascript -->
    <script type="text/javascript">
        $(function() {
        });
    </script>
    <!-- End Javascript -->

    <!-- Mustache Templates -->
    {% mustache_templates 6 %}
    <!-- End Mustache Templates -->

  </body>
</html>
