.player-<@ uid @> {
    @color: #<@ color @>;
    @contrast: contrast(@color, darken(@color, 20%), lighten(@color, 20%));
    @contrast-more: contrast(@color, darken(@color, 30%), lighten(@color, 30%));
    @contrast-text: contrast(@color, #EEE, #222);

    &.active.player-acolor,
    & .active.player-acolor,
    &.player-color,
    & .player-color {
        color: @color;
    }
    &.active.player-atext,
    & .active.player-atext,
    &.player-text,
    & .player-text {
        color: @contrast-text;
    }
    &.active.player-abg,
    & .active.player-abg,
    &.player-bg,
    & .player-bg {
        background-color: @color;
    }
    &.active.player-bg-grad,
    & .active.player-bg-grad,
    &.player-bg-grad,
    & .player-bg-grad {
        background-image: -webkit-linear-gradient(top, @color, @contrast);
        background-image: -moz-linear-gradient(top, @color, @contrast);
        background-image: -o-linear-gradient(top, @color, @contrast);
        background-image: -ms-linear-gradient(top, @color, @contrast);
        background-image: linear-gradient(top, @color, @contrast);
    }

    &.player-btn,
    & .player-btn {
        background-image: -webkit-linear-gradient(top, @color, @contrast);
        background-image: -moz-linear-gradient(top, @color, @contrast);
        background-image: -o-linear-gradient(top, @color, @contrast);
        background-image: -ms-linear-gradient(top, @color, @contrast);
        background-image: linear-gradient(top, @color, @contrast);
        background-color: @color;
    }
    &.player-btn:hover,
    & .player-btn:hover {
        background-image: -webkit-linear-gradient(top, @color, @contrast);
        background-image: -moz-linear-gradient(top, @color, @contrast);
        background-image: -o-linear-gradient(top, @color, @contrast);
        background-image: -ms-linear-gradient(top, @color, @contrast);
        background-image: linear-gradient(top, @color, @contrast);
        background-color: @contrast;
    }
    &.player-btn:active,
    & .player-btn:active,
    &.player-btn.active,
    & .player-btn.active {
        background-image: -webkit-linear-gradient(top, @contrast-more, @contrast);
        background-image: -moz-linear-gradient(top, @contrast-more, @contrast);
        background-image: -o-linear-gradient(top, @contrast-more, @contrast);
        background-image: -ms-linear-gradient(top, @contrast-more, @contrast);
        background-image: linear-gradient(top, @contrast-more, @contrast);
        background-color: @contrast;
    }
}
