<!DOCTYPE html>
<html lang="en-CA">
  <head>
    {% load compress %}
    {% load staticfiles %}
    {% load helpers %}

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">

    <title>{{ campaign.name }}</title>

    <!-- Styles -->
    {% compress css %}
      <link rel="stylesheet" href="{% static 'shared/css/base.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/play.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/chat.css' %}" type="text/css" charset="utf-8">
      <link rel="stylesheet" href="{% static 'player/css/terminal.css' %}" type="text/css" charset="utf-8">
    {% endcompress %}

    <!-- Dynamic Styles -->

    <!-- End Styles -->

  </head>
  <body>


    <!-- Main Body -->
    <div class="hsplit">

        <div class="hsplit-left">
        </div>

        <div class="hsplit-right">
            <!-- Character Sheet -->
            <div class="char-sheets"></div>
            <!-- End Sheet -->


        <!-- Messenger -->
        <div id="chat">
            <div class="container-fluid" id="messages">

            </div>

            <div class="container-fluid">
                <div class="row-fluid message type">
                    <div class="span2 name">
                        <span class="user-name">
                            {{ user.name }}
                        </span>
                        <span class="char-name">
                            {% if is_dm %}
                                DM
                            {% elif char %}
                                {{ char.name }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="span10 body">
                        <form class="form-inline" id="msg-form">
                            <input class="span10" type="text" name="msg" placeholder="Say..." id="msg-input">
                        </form>
                    </div>
                </div>
            </div>

            {% include 'messenger.html' %}
        </div>
        <!-- End Messenger -->

        <!-- Terminal -->
        <div id="terminal" class="terminal-bg hide">
            <div class="terminal-logs" id="terminal-logs"></div>
            <div id="terminal-input" class="terminal-bg">
                <span class="terminal-cmd prefix cmd">
                    <span class="end-char">~ </span>
                </span>
                <input type="text" placeholder="Command" class="terminal-bg cmd terminal-cmd user-cmd">
            </div>

            <!-- Connection Status -->
            <div class="connection status-off">
                <span class="reconnect-time time-sec">&nbsp;</span>
            </div>
            <!-- End Connection Status -->

        </div>

        {% include 'terminal.html' %}
        <!-- End Terminal -->

    </div>
    <!-- End Main Body -->


    <!-- Scripts -->
    <!-- Javascript at the bottom for faster page loading -->
    <script type="text/javascript" src="{% static 'shared/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared/js/bootstrap.js' %}"></script>
    {% compress js %}
      <script type="text/javascript" src="{% static 'shared/js/mustache.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/mustache-plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/bootstrap-plugins.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/formatting.js' %}"></script>
      <script type="text/javascript">
          // Needed to connect using syncrae.js
          var HOST = window.location.hostname + ':{% setting 'SYNCRAE_PORT' %}';
      </script>
      <script type="text/javascript" src="{% static 'syncrae/js/syncrae.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/listener.js' %}"></script>
      <script type="text/javascript" src="{% static 'shared/js/terminal.js' %}"></script>
    {% endcompress %}

    <!-- Dynamic Javascript -->
    <script type="text/javascript">
        $(function() {
        });
    </script>
    <!-- End Javascript -->

    <!-- Mustache Templates -->
    {% mustache_templates 6 %}
    <!-- End Mustache Templates -->

  </body>
</html>
