{% load helpers %}


<div id="terminal" class="terminal-bg hide">
    <div class="terminal-logs" id="terminal-logs"></div>
    <div id="terminal-input" class="terminal-bg">
        <div class="terminal-cmd prefix cmd">
            <div class="end-char">~ </div>
        </div>
        {# This must not have type="text" otherwise it get taken over by Bootstrap styles #}
        <input class="terminal-cmd terminal-bg user-cmd cmd" value="" name="user-cmd">
    </div>

    <!-- Connection Status -->
    <div class="connection timer status-off">
        <span class="reconnect-time time-sec">&nbsp;</span>
    </div>
    <!-- End Connection Status -->
</div>



{% template 'terminal-log' %}
    <div class="<% level %> terminal-log">
        <% text %>
    </div>
{% endtemplate %}

{% template 'terminal-cmd' %}
    <div class="<% level %> terminal-cmd">
        ≈ <% text %>
    </div>
{% endtemplate %}
